.statspanel_container {
  width: 100%;
  height: 100%;
  /* height: 250px; */
}
.stats_left {
  display: flex;
  justify-content: flex-start;
}
.stats_info {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
  /* height: 100%; */
  /* height: 250px; */
  /* width: 100%; */
  border-bottom: solid 1px rgba(177, 177, 177, 0.507);
  flex-wrap: wrap;
}

.stats_download_desc {
  /* margin: 10px; */
  padding: 12px;
  font-size: 13px;
  color: rgb(58, 58, 58);
}

.stats_download_zone {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  width: 450px;
  border-radius: 5px;
  border: solid 1px rgba(150, 150, 150, 0.356);
}

.normal_button {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 4px;
  color: white;
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;

  margin-left: 10px;
  background-color: #e65050;
}

.disabled_btn {
  background-color: #999999 !important;
  cursor: default;
}

.normal_button:hover {
  background-color: #d13a3a;
}

.normal_button:active {
  background-color: #b42828;
}

.stats_butons {
  display: flex;
  justify-content: flex-end;
}

.stats_data_vis {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 10px;
  justify-content: center;
  /* height: 100%; */
  /* width: 100%; */
  flex-wrap: wrap;
}

.stats_display {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: left;
}

.download_button:hover {
  background-color: #292929;
}

.download_button:active {
  background-color: #1b1b1b;
}

.download_button {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 4px;
  color: white;
  width: 100px;
  margin: 10px;
  /* padding: 10px; */
  /* margin-top: 10px; */
  cursor: pointer;

  margin-left: 10px;
  background-color: #111111;
}

.stats_spacer {
  height: 500px;
}
