.greeting-container {
  text-align: left;
  height: 300px;
  width: 100%;
  padding-top: 40px;
  margin-top: 40px;
}

.greeting-container h1 {
  font-weight: 600;
  font-size: 55px;
  /* margin: 0 0 5px; */
  line-height: 75px;
}

.greeting-container h4 {
  font-weight: 500;
  max-width: 600px;
  /* margin: 0; */
  font-size: 18px;
  line-height: 32px;
}

.greeting_button {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 4px;
  color: white;
  width: 100px;
  padding: 10px;
  margin-top: 30px;
  cursor: pointer;
  margin-right: 30px;
  background-color: #e65050;
}

.greeting_button:hover {
  background-color: #d13a3a;
}

.greeting_button:active {
  background-color: #b42828;
}
